.cuerpo{
  
}
.divInroduccion{
  margin-top: 5%;
    font-size: 1.4em;
    font-family: cursive;
}
.nombres{
  margin-top: 5%;
    font-size: x-large;
    color: blueviolet;
}
.typewrite{
   font-family: cursive;  
}