.cuerpo{
  
}
.divIntroduccion{
  margin-top: 5%;
    font-size: 2em;
    font-family: arial;
}
.nombres{
  margin-top: 35%;
    font-size: large;
    color: #000000;
}
.typewrite{
   font-family: cursive;  
}